nav {
  background: $white;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, .1), 0 0 4px 2px rgba(0, 0, 0, .12);
  height: auto;
  width: 100%;

  ul {
    padding-bottom: $sm-pad;
    padding-top: $sm-pad;
  }

  .brand {
    font-size: 1.5rem;
    text-align: center;
  }

  li {
    display: inline;
    padding: $md-pad;

    &.active{
      color: $text;
    }
  }
}

.hero {
  border-bottom: 1px $border;
  border-top: 0;
  margin-bottom: $md-pad;
}
