nav {
  background: $white;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, .1), 0 0 4px 2px rgba(0, 0, 0, .12);
  height: 72px;
  width: 100%;

  .brand {
    font-size: 2rem;
    line-height: 36px;
    text-align: center;
  }
}

.hero {
  border-bottom: 1px $light-border;
  border-top: 0;
  margin-bottom: $md-pad;
}
