%nav
  %ul
    %li
      = link_to '/index.html', :class => 'brand' do
        Marx
    %li
      = link_to '/index.html' do
        Home
    %li
      = link_to '/documentation.html' do
        Docs
