<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Marx</title>
  <meta name="description" content="The classless CSS framework (perfect for Communists).">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">

  <link rel="apple-touch-icon" sizes="57x57" href="{{ "public/images/apple-touch-icon-57x57.png" | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="60x60" href="{{ "public/images/apple-touch-icon-60x60.png" | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="72x72" href="{{ "public/images/apple-touch-icon-72x72.png" | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="76x76" href="{{ "public/images/apple-touch-icon-76x76.png" | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="114x114" href="{{ "public/images/apple-touch-icon-114x114.png" | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="120x120" href="{{ "public/images/apple-touch-icon-114x114.png" | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="144x144" href="{{ "public/images/apple-touch-icon-120x120.png" | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ "public/images/apple-touch-icon-152x152.png" | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ "public/images/apple-touch-icon-180x180.png" | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" href="{{ "public/images/android-chrome-32x32.png" | prepend: site.baseurl }}" sizes="32x32">
  <link rel="icon" type="image/png" href="{{ "public/images/android-chrome-192x192.png" | prepend: site.baseurl }}" sizes="192x192">
  <link rel="icon" type="image/png" href="{{ "public/images/favicon-96x96.png" | prepend: site.baseurl }}" sizes="96x96">
  <link rel="icon" type="image/png" href="{{ "public/images/favicon-16x16.png" | prepend: site.baseurl }}" sizes="16x16">
  <link rel="manifest" href="{{ "public/images/manifest.json" | prepend: site.baseurl }}">
  <meta name="msapplication-TileColor" content="#2d89ef">
  <meta name="msapplication-TileImage" content=""{{ "public/images/mstile-144x144.png" | prepend: site.baseurl }}">
  <meta name="theme-color" content="#ffffff">
</head>
