<!-- Navigation -->
<div class="b-nav">
  {% if page.active == "home" %}
      <li><a class="b-link b-link--active" href="{{ "/" | prepend: site.baseurl }}">Home</a></li>
  {% else %}
      <li><a class="b-link" href="{{ "/" | prepend: site.baseurl }}">Home</a></li>
  {% endif %}
  {% if page.active == "docs" %}
      <li><a class="b-link active" href="{{ "/documentation.html" | prepend: site.baseurl }}">Documentation</a></li>
  {% else %}
      <li><a class="b-link" href="{{ "/documentation.html" | prepend: site.baseurl }}">Documentation</a></li>
  {% endif %}
  <li><a class="b-link" href="https://github.com/mblode/marx" target="_blank">GitHub - Marx</a></li>
  <li><a class="b-link" href="https://github.com/mblode" target="_blank">Github - mblode</a></li>
</div>

<!-- Burger-Icon -->
<div class="b-container">
  <div class="b-menu">
    <div class="b-bun b-bun--top"></div>
    <div class="b-bun b-bun--mid"></div>
    <div class="b-bun b-bun--bottom"></div>
  </div>
</div>

<nav>
  <p class="brand"><a href="{{ "/" | prepend: site.baseurl }}">Marx</a></p>
</nav>
