<!-- Navigation -->
<div class="burger-nav">
  {% if page.active == "home" %}
      <li><a class="burger-link active" href="{{ "/" | prepend: site.baseurl }}">Home</a></li>
  {% else %}
      <li><a class="burger-link" href="{{ "/" | prepend: site.baseurl }}">Home</a></li>
  {% endif %}
  {% if page.active == "docs" %}
      <li><a class="burger-link active" href="{{ "/documentation" | prepend: site.baseurl }}">Documentation</a></li>
  {% else %}
      <li><a class="burger-link" href="{{ "/documentation" | prepend: site.baseurl }}">Documentation</a></li>
  {% endif %}
  <li><a class="burger-link" href="https://github.com/mblode/marx" target="_blank">GitHub - Marx</a></li>
  <li><a class="burger-link" href="https://github.com/mblode" target="_blank">Github - mblode</a></li>
</div>


<!-- Burger-Icon -->
<div class="burger-contain">
  <div class="burger">
    <div class="bun bun-top"></div>
    <div class="bun bun-mid"></div>
    <div class="bun bun-bottom"></div>
  </div>
</div>

<nav>
  <p class="brand"><a href="index.html">Marx</a></p>
</nav>
